In [4]:
import pyodbc

In [5]:
mdb_path = "./database.mdb"
driver = '{Microsoft Access Driver (*.mdb, *.accdb)}'
conn_str = f"DRIVER={driver};DBQ={mdb_path};"

cnxn = pyodbc.connect(conn_str)
cursor = cnxn.cursor()

In [6]:
cursor.execute("""
CREATE TABLE DATA_TABLE (
    id INTEGER PRIMARY KEY,
    DATA01 FLOAT, DATA02 FLOAT,
    DATA03 FLOAT, DATA04 FLOAT,
    DATA05 FLOAT, DATA06 FLOAT,  
    DATA07 FLOAT, DATA08 FLOAT,
    DATA09 FLOAT                                                                  
);
""")

In [7]:
query_str = "INSERT INTO DATA_TABLE "
id_str = "(id, "

data_str = [f"DATA0{i}" for i in range(1, 10)]
data_str = ", ".join(data_str)

values = ") VALUES (1, "
values_str = [f"{i}" for i in range(1, 10)]
values_str = ", ".join(values_str)
end_str = ")"

ret = query_str + id_str + data_str + values + values_str + end_str
ret

'INSERT INTO DATA_TABLE (id, DATA01, DATA02, DATA03, DATA04, DATA05, DATA06, DATA07, DATA08, DATA09) VALUES (1, 1, 2, 3, 4, 5, 6, 7, 8, 9)'

In [8]:
cursor.execute(ret)

cnxn.commit()

In [9]:
cursor.execute("SELECT * FROM DATA_TABLE")

for row in cursor:
    print(row)

(1, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0)

- Reference

https://blog.naver.com/cjinnnn/223047261231