In [1]:
from d3blocks import D3Blocks
# pip install d3blocks

In [2]:
d3 = D3Blocks()
df = d3.import_example('energy')

[d3blocks] >INFO> Cleaning edge_properties and config parameters..
[d3blocks] >INFO> Import dataset [energy]

In [3]:
df

                     source            target   weight
0      Agricultural 'waste'    Bio-conversion  124.729
1            Bio-conversion            Liquid    0.597
2            Bio-conversion            Losses   26.862
3            Bio-conversion             Solid  280.322
4            Bio-conversion               Gas   81.144
..                      ...               ...      ...
63       Thermal generation  District heating   79.329
64                    Tidal  Electricity grid    9.452
65  UK land based bioenergy    Bio-conversion  182.010
66                     Wave  Electricity grid   19.013
67                     Wind  Electricity grid  289.366

[68 rows x 3 columns]

In [ ]:
d3.chord(df)
# AppData/Local/Temp/d3blocks/chord.html