In [1]:
from d3blocks import D3Blocks
# pip install d3blocks

In [2]:
d3 = D3Blocks()
df = d3.import_example('energy')

[d3blocks] >INFO> Cleaning edge_properties and config parameters..
[d3blocks] >INFO> Import dataset [energy]

In [3]:
df

                     source            target   weight
0      Agricultural 'waste'    Bio-conversion  124.729
1            Bio-conversion            Liquid    0.597
2            Bio-conversion            Losses   26.862
3            Bio-conversion             Solid  280.322
4            Bio-conversion               Gas   81.144
..                      ...               ...      ...
63       Thermal generation  District heating   79.329
64                    Tidal  Electricity grid    9.452
65  UK land based bioenergy    Bio-conversion  182.010
66                     Wave  Electricity grid   19.013
67                     Wind  Electricity grid  289.366

[68 rows x 3 columns]

In [4]:
df.head(10)

                 source          target   weight
0  Agricultural 'waste'  Bio-conversion  124.729
1        Bio-conversion          Liquid    0.597
2        Bio-conversion          Losses   26.862
3        Bio-conversion           Solid  280.322
4        Bio-conversion             Gas   81.144
5       Biofuel imports          Liquid   35.000
6       Biomass imports           Solid   35.000
7          Coal imports            Coal   11.606
8         Coal reserves            Coal   63.965
9                  Coal           Solid   75.571

In [5]:
df[df['source'] == 'Bio-conversion']

           source  target   weight
1  Bio-conversion  Liquid    0.597
2  Bio-conversion  Losses   26.862
3  Bio-conversion   Solid  280.322
4  Bio-conversion     Gas   81.144

In [6]:
df[df['source'] == 'Electricity grid']

              source                              target   weight
13  Electricity grid           Over generation / exports  104.453
14  Electricity grid         Heating and cooling - homes  113.726
15  Electricity grid                       H2 conversion   27.140
16  Electricity grid                            Industry  342.165
17  Electricity grid                      Road transport   37.797
18  Electricity grid                         Agriculture    4.412
19  Electricity grid    Heating and cooling - commercial   40.858
20  Electricity grid                              Losses   56.691
21  Electricity grid                      Rail transport    7.863
22  Electricity grid  Lighting & appliances - commercial   90.008
23  Electricity grid       Lighting & appliances - homes   93.494

In [7]:
# d3.chord(df)
# AppData/Local/Temp/d3blocks/chord.html