In [4]:
import pyodbc
import numpy as np
import pandas as pd
import sqlalchemy as sa

from datetime import datetime

In [5]:
data_list_01 = [f"DATA0{i}" for i in range(1, 11)]
data_list_02 = [f"DATA{i}" for i in range(11, 101)]
data_list = data_list_01 + data_list_02

In [6]:
date_data = datetime.today().strftime('%Y-%m-%d')
time_data = datetime.today().strftime('%H:%M:%S')
data_data = [i for i in range(1, 101)]

df = pd.DataFrame([data_data], columns=data_list)
df.insert(0, "DATE", date_data)
df.insert(1, "TIME", time_data)
df

,DATE,TIME,DATA01,DATA02,DATA03,DATA04,DATA05,DATA06,DATA07,DATA08,...,DATA91,DATA92,DATA93,DATA94,DATA95,DATA96,DATA97,DATA98,DATA99,DATA100
0,2024-06-23,17:21:48,1,2,3,4,5,6,7,8,...,91,92,93,94,95,96,97,98,99,100

In [7]:
connection_string = ( 
    r"DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};"
    r"DBQ=./example.mdb;"
    r"ExtendedAnsiSQL=1;" )
connection_url = sa.engine.URL.create(
    "access+pyodbc",
    query={"odbc_connect": connection_string}
)
engine = sa.create_engine(connection_url)

df.to_sql("DATA_TABLE", engine, index=False, if_exists="append")

-1